<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <h1> Tiny APP</h1>
    <form action='/login' method='POST'>
    <label for="email">E-mail:</label>
      <input id="email" type="email" name="email">
    <label for="password">Password:</label>
      <input id="password" type="password" name="password">
      <button type='submit'>Log in</button> 
  </form>
</body>
</html>