<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
      <% include partials/_header %>
    <% for(var urlDatabase in urls) { %>
      <li><%= urls[urlDatabase] + ": " + urlDatabase %>
      <form action='/urls/<%=urlDatabase%>/delete' method='POST'>

        <button type='submit'>Delete</button>
      </form>
    </li>
    <% } %>
  </ul>
  
  </form>
</body>
</html>

